---
permalink: 'estates.csv'
layout:
---
Name,Borough,Total,Location,Landlord,Developer,Architect,ITLA,Ballot Status,Planning Status,Image
    {%- for estate in collections.estates | reverse %}
{{ estate.data.name }},{{ estate.data.borough }},{{ estate.data.total }},"{{ estate.data.location }}",{{ estate.data.landlord }},{{ estate.data.developer }},{{ estate.data.architect }},{{ estate.data.itla }},{{ estate.data.ballot }},{{ estate.data.planning }},{{ estate.data.image }}
{% if not loop.last %},{% endif %}
    {%- endfor %}
