{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
{% for estate in estateslist %}
	<li class="estateslist-item{% if estate.url == url %} postlist-item-active{% endif %}">
		<a href="{{ estate.url }}" class="postlist-link">{% if estate.data.name %}{{ estate.data.name }}{% else %}<code>{{ estate.url }}</code>{% endif %}</a>
		 {{ estate.data.borough | capitalize | replace("Barkinganddagenham", "Barking & Dagenham") | replace("Cityoflondon", "City of London") | replace("Kensingtonandchelsea", "Kensington & Chelsea") | replace("Towerhamlets", "Tower Hamlets") | replace("Walthamforest", "Waltham Forest") }}
		<a href="{{ estate.url }}">
		{% first_image estate %}
		</a>
	</li>
	<script>
var circle = L.circle({{ estate.data.location }}, {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 300
}).addTo(map).bindPopup('<a href="{{ estate.url }}" class="postlist-link">{{ estate.data.name }}</a>');
</script>
{% endfor %}
</ol>
